@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Tinos:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 17px;
	background-color: rgba(247,234,218,.5);
}

header {
	padding: 1.5em;
	text-align: center;
    width: 50%;
    float: left;
}

header a {
    border-bottom: none;
}

nav {
    text-align: center;
    width: 50%;
    float: left;
 	padding: 2.5em;
}

nav a {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	border-bottom: none;
	padding-right: 2em;
	}

h1 {
	font-family: 'Tinos', serif;
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgb(22,23,22);
	padding-bottom: .1em;
}

h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	display: block;
	margin: 1em 0 0 0;
	padding: 1em;
}

#television, #commercials  h2 {
	color: #451500;
}

#features, #additional, #production h2 {
	color: white;
}

h4 {	
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	border-bottom: none;
	display: block;
	margin: 1em 0;
	padding: 1em;
}

#intro p {
	font-family: 'Tinos', serif;
	font-weight: 400;
	font-size: 1.25em;
	color: rgb(22,23,22);
	width: 100%;
	max-width: 36em;
	line-height: 1.55em;
	margin: auto;
	padding: 1em;
	text-align: left;
}

.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	height: 0;
	clear: both;
}

.film, .vimeo {
	float: left;
	width: 33.3333%;
}

.additional {
	float: left;
	width: 25%;
}

.film img {
	display: block;
	width: 100%;
	padding: .25em;
	max-height: 800px;
	max-width: 540px;
}

.tv img {
	width: 100%;
}

.tv {
	float: left;
	padding: 1em;
	height: 230px;
	width: 20%;
}

.additional img {
	display: block;
	width: 100%;
	padding: .25em;
	max-height: 800px;
	max-width: 540px;
}

.soundcloud, .vimeo {
	float: left;
	width: 33.3333%;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
}

.soundcloud {
	float: left;
	width: 33.3333%;
	overflow: hidden;
}

.soundcloud iframe {
	display: block;
	padding: .75em;
}

.vimeo iframe {
	display: block;
	width: 100%;
	padding: 1em;
	max-height: 450px;
	width: 100%;
}

#features, #commercials, #production {
	background-color: rgba(22,23,22,.9);
	margin: auto;
	padding: 1.5em;
    clear: both;
}

#additional {
	background-color: rgba(22,23,22,.9);
	margin: auto;
	padding: 1.5em;
    clear: both;	
}

/*.bigger img {
	display: block;
	width: 25%;
	padding: 1em;
	float: left;
	margin: 0 auto;
}*/

.introtext {
	font-family: 'Oswald', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-right: .5em;
}

.icon img, .other-icon img {
	width: 100%;
}

.icon  {
	width: 5em;
	padding: .5em;
	float: left;
}

.other-icon {
	width: 5em;
	padding: .5em;
	float: right;
}

#icons {
	width: 45%;
	background-color: yellow;
}

#bottomnav {
	width: 45%;
	background-color: red;
	float: right;
}

#production img {
	display: block;
	width: 33.3333%;
	padding: 1em;
	float: left;
	margin: 0 auto;
}

#commercials img {
	display: block;
	float: left;
	padding: 1em;
	width: 20%;
}

#television, #commercials {
	background-color: white;
	padding: 1.5em;
	width: 100%;
	margin: auto;
}

#commercials {
	clear: both;
}

p {
	font-family: 'tinos', serif;
	font-weight: 400;
	font-size: 1em;
	color: rgb(22,23,22);
	width: 100%;
	max-width: 36em;
	line-height: 1.5em;
	padding: 1em;
}

h2 + p {
	padding-top: 0;
}

#lander img {
	width: 100%;
}

#intro{
	background-color: rgba(247,234,218,.5);
}

#slogan {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: .75em;
	margin-bottom: 1em;
	margin: auto;
}

#slogan p {
	text-align: center;
}

#contact {
	text-align: center;
	padding: 1em;
}

.icon a, .other-icon a {
	border-bottom: none;
}

.title {
	font-style: italic;
}

#wrapper {
	margin: auto;
	/*max-width: 1080px;*/
}

#toggle {
	display: none;
}

label {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	display: none;
}

a:hover {
	color: rgba(22,23,22,.7);
}

a:active {
	color: rgba(22,23,22,.5)
}

footer a {
	text-decoration: none;
}

@media screen and (max-width:1150px){
	.soundcloud{
		width:50%;
		height: 50%;
		padding-bottom: 1em;
	}
	.vimeo{
		width: 50%;
		height: 100%;
		padding-bottom: 1em;
	}
	.tv {
		width: 25%
	}
}

@media screen and (max-width:768px){
	body {
		font-size: 16px;
	}
	.soundcloud {
		width:100%;
		padding: 0;
	}
	.vimeo {
		width: 100%;
		padding: 0;
	}
	header {
		width: 100%;
		float: none;
		text-align: center;
		padding: 1em 1em 0 1em;
	}
	nav {
		display: none;
	}
	label {
		display: block;
		text-align: center;
		padding: 1em;
	}
	#toggle:checked + nav{
		width: 100%;
		display: inline;
		font-size: .85em;	
		text-align: center;
	}
	.navlinks {
		padding: 0 1.25em 0 1.25em;
		margin-top: 0;
	}
	.tv {
		width: 33.3333%;
	}
	.film {
		width: 50%;
	}
	.additional {
		width: 50%;
	}
}

@media screen and (max-width:700px){
	#production img {
		width: 100%;
		float: none;
		margin: auto;
	}
	#intro {
		padding: 1em;
	}
	.tv{
		width: 50%;
		padding: .5em;
	}
}


@media screen and (max-width:595px){
	p, #intro p {
		font-size: .95em;
	}	
}

@media screen and (max-width:500px){
	p, #intro p {
		font-size: .85em;
	}
	h1 {
		font-size: 1.5em;
	}
	#slogan {
		font-size: .65em;
		letter-spacing: 3px;
		}
	.icon  {
		width: 33.3333%;
	}
	#commercials img {
		width: 33.3333%;
	}
}




